DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=momesso
JWT_SECRET=supersecret
JWT_EXPIRES_IN=1d
TYPEORM_SYNCHRONIZE=true
CORS_ORIGIN=http://localhost:4200
RATE_LIMIT_TTL_MS=60000
RATE_LIMIT_MAX=100
